﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de Sesion";
}

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">                
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mt-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">Correo Electronico</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>                
                <div class="mt-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Ingresar</button>
                </div>               
            </form>
        </section>
    </div>  
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
