﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
            <img src="~/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">NEXTCODE SABS</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->    

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">    

            <li class="nav-item dropdown pe-3">
                <ul class="nav-link nav-profile d-flex align-items-center pe-0">            
                    <li class="nav-item m-3">
                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bienvenido @UserManager.GetUserName(User)!</a>
                    </li>
                    <li class="nav-item m-3">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesion</button>
                        </form>
                    </li>
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header>

    <partial name="_SideBar" />
}
else
{
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
            <img src="~/assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">NEXTCODE SABS</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->    

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">    
                <li class="nav-item dropdown pe-3">
                    <ul class="nav-link nav-profile d-flex align-items-center pe-0">            
                        <li class="nav-item m-3">
                            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion</a>
                        </li>
                        <li class="nav-item m-3">
                            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header>    
}

