﻿<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(ViewData["View"] == "home" ? "" : "collapsed")" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewData["View"] == "tower" ? "" : "collapsed")" asp-area="" asp-controller="Towers" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Torres</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewData["View"] == "profession" ? "" : "collapsed")" asp-area="" asp-controller="Professions" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Profesiones</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewData["View"] == "study_program" ? "" : "collapsed")" asp-area="" asp-controller="StudyPrograms" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Programas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewData["View"] == "instructor" ? "" : "collapsed")" asp-area="" asp-controller="Instructors" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Instructores</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewData["View"] == "classroom" ? "" : "collapsed")" asp-area="" asp-controller="Classrooms" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Ambientes</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewData["View"] == "student" ? "" : "collapsed")" asp-area="" asp-controller="Students" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Aprendices</span>
            </a>
        </li>
    </ul>
</aside>
