﻿@model ThirdExamDotNet.Models.Profession

@{
    ViewData["Title"] = "Eliminar";
    ViewData["View"] = "profession";
}
<h3>¿Esta seguro que desea eliminar el registro?</h3>
<div>
    <h4>Profesion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
